# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.production

# Virtual environments
.venv/
venv/

# Logs
*.log

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
